body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    text-align: center;;
}
header h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
}
section img {
    max-width: 100%;
}
a {
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}
h2 {
    font-size: 42px;
    color: white;
    font-weight: 300;
}
p {
    font-size: 21px;
    color: gray;
}
video {
    max-width: 350px;
}
footer {
    font-size: 21px;
    color: gray;
    text-align: right;
}